<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.machinsa_laver.machinsalaver">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:logo="@drawable/logo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ModesDePaiementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditionCBActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ChoisirMontantActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ConfirmerInformationsActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>